.title {
  text-align: center;
}

.food-item {
  display: flex;
  border-bottom: rgb(232, 232, 232) 1px solid;
  justify-content: space-between;
}

.card {
  padding: 1rem;
  border: black 1px solid;
  margin: 1rem 3rem;
  margin-top: 3rem;
}